<%= render partial: "shared/top_section" %>
<div class="ui-styled-text">
  <%= Utilities.markdown_file_to_html("guidelines.md").html_safe %>
</div>
<script>
  // Whenever someone clicks on a .anchor-link link, get the href and scroll them to that div id
  document.querySelectorAll('.anchor-link').forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      const href = link.getAttribute('href');
      id = href.replace('/', '');
      id = id.replace('#', '');
      const element = document.getElementById(id);
      element.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
    });
  });
</script>